<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Scandit.BarcodePicker" version="5.3.0.1" targetFramework="win81" />
  <package id="Scandit.BarcodePicker.Unified" version="5.3.0.1" targetFramework="win81" />
  <package id="Scandit.Recognition" version="5.3.0.1" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="win81" />
</packages>